<div id="content" class="contacts container">     
  <%= render :partial => "contacts/left_block/contacts_left_block" %>
  <div class="content-right span8">
    <%#= render :partial => "contacts/right_block/shared/contacts_right_block" %>
    <h2>Contacts</h2>
    <hr>
    <h3 class="heading">Select any user to view more info</h3>
  </div>
</div>


