<div id="slider_box">
  <h3>Slide to Unlock:</h3>
  <p>Proves you're a human.</p>
  <div id="page-wrap">
    <div id="well">
      <h2><strong id="slider"></strong></h2>
    </div>
  </div>
  <label class="locked bold">Locked</label>
  <span class="right-arrow-green">&nbsp;</span>
  <label class="unlocked">Unlocked</label>
</div>