<div class="content-left span4">
  <div class="content-block">
    <h2>Schedule</h2>
    <ul class="nav pull-right rhs-dropdown rhs2">                                         
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="show-schedule" data-toggle="dropdown">
            <i class="icon-down pull-right"></i>
        </a>
      </li>
    </ul>
    
    <div id="schedule-left-top" style="display:none;">
      <div class="scroll">
        <a href="#" id="addOpponentEvent" class="btn btn-default set-heigt-30">
          <span class="pull-left">Add Opponent / Event</span>
        </a>
        
        <%= link_to(previous_opponents_schedules_home_index_path, :remote => true, :class => "btn btn-default set-heigt-30") do %>
          <span class="pull-left">View Previous Events</span>
        <% end %>

        <div id="scedule-previous-oppnents">
        </div>
      </div>
    </div>

    <h2>Upcoming Opponents</h2>

    <hr>
    <div id="scedule-upcoming-oppnents">
      <div class="scroll">
        <%= render(:partial => "schedules/home/left_upcoming_opponents", :collection => @upcoming_opponents, :as => :opponent) %>
      </div>
    </div>
  </div>
</div>