<footer>
    <div class="footer-main">
      <div class="footer-main-left">&copy; <%= Time.now.year %> <span class="highlight-company"><%= link_to "Idyllic Software", "http://www.idyllic-software.com" %></span>. All Rights Reserved</div>
      <div class="footer-main-right">
        Follow us on
        <span class="social-link-left"><%= link_to image_tag("facebook.png"),"https://www.facebook.com/MindYourPitch" %></span>
        <span class="social-link-left"><%= link_to image_tag("twitter.png"), "https://twitter.com/mindyourpitch" %></span>
      </div>
    </div>
</footer>