<div class="block">
  <a href="#upload-photo" class="btn btn-upload-photo" data-toggle="modal">Upload a photo & contact info<i class="icon-play pull-right"></i></a>
  <a href="javascript:void(0)" id="go-to-home" class="btn-link clearfix pull-left">Go to your home page</a>
</div>

