<div id="welcome" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container welcome">

    <h2 class="form-signin-heading">Welcome to MyTeamsEdge!</h2>
    <p>
    You now can share and collaborate with important content 
    within your program. Thanks for signing up, 
    {stay focused, stay hungry.}
    </p>
    <p>
    We've put together some steps to help get your account set up.
    </p>
    <hr>
    <%= render partial: 'auxiliary_user/settings/actions' %>

  </div> <!-- /container -->
</div>

<%= render partial: 'shared/common_partials/update_photo_contact_info' %>

