<div class="content-right span8">
    <h2>Activity Stream</h2>
    <ul class="nav pull-right rhs-dropdown rhs2">                                         
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-down pull-right"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">St. Croix University</a></li>
                <li><a href="#">Croxy</a></li>
                <li><a href="#">Champions</a></li>
                <li><a href="#" class="btn-link">Create new</a></li>
            </ul>
        </li>
    </ul>  
    <hr>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Ron Swanson<i class="icon-settings pull-right"></i></h3>
            <p>Costa Rica University: Forum Comment Added
            </p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Leo Spaceman<i class="icon-settings pull-right"></i></h3>
            <p>Costa Rica University: Comment added to Flex Cuts Video
            </p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Security and Privacy<i class="icon-settings pull-right"></i></h3>
            <p>Costa Rica University: Forum Comment Added
            </p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Security and Privacy<i class="icon-settings pull-right"></i></h3>
            <p>Costa Rica University: Forum Comment Added
            </p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Security and Privacy<i class="icon-settings pull-right"></i></h3>
            <p>Costa Rica University: Forum Comment Added
            </p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Security and Privacy<i class="icon-settings pull-right"></i></h3>
            <p>Costa Rica University: Forum Comment Added
            </p>
        </div>
    </div>
</div>