<div class="content-left span4">
    <div class="content-block">
        <h2>Applications</h2>
        <hr>
        <button class="btn btn-link"><span class="pull-left">Notes</span></button>
        <button class="btn btn-link act"><span class="pull-left">Roster</span></button>
        <button class="btn btn-link"><span class="pull-left">VideoScout</span></button>
        <button class="btn btn-link"><span class="pull-left">Playbook</span></button>
        <button class="btn btn-link"><span class="pull-left">Gamelog</span></button>
        <button class="btn btn-link"><span class="pull-left">Forum</span></button>
    </div>                
</div>