<div class="content-block players-box">
  <h2>Players<i class="icon-settings pull-right"></i></h2>
  <hr>
  <%= render(:partial => 'contacts/left_block/contact_users_list', :collection => @players, :as => :user)  %>
</div> 