<div class="content-block">
  <h2>Coaches<i class="icon-settings pull-right"></i></h2>
  <hr>
  <%= render(:partial => 'contacts/left_block/contact_users_list', :collection => @coaches, :as => :user)  %>
</div>