<div class="content-left span4">        
  <%= render 'contacts/left_block/contacts_left_block_coaches' %>  
  <%= render 'contacts/left_block/contacts_left_block_players' %>
  <%= render 'contacts/left_block/contacts_left_block_aux_users' %>
</div>