<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <h1>Why you'll love MyTeamsEdge</h1>

  <!-- Example row of columns -->
  <div class="row-fluid">
    <div class="span4">
      <h2> Organized Content </h2>
      <p>With MTE, managing player calendars, scouting reports, and game film are all easily accessible wherever you are. </p>
    </div>
    <div class="span4">
      <h2>More productive</h2>
      <p>Focus on what is important, and let MTE take care of the rest. Allow your coaching staff and players to get on the same page</p>   
    </div>
    <div class="span4">
      <h2>Scouting & Academics</h2>
      <p>Focus on what is important, and let MTE take care of the rest. Allow your coaching staff and players to get on the same page</p>   
    </div>
    <div class="span4">
      <h2>Real Time Information</h2>
      <p>Have real-time access to your activity stream right from your homepage. Stay up to date with what is going on in your account.</p>
    </div>
    <div class="span4">
      <h2>More efficient</h2>
      <p>With every users calendar up to date, searching for future practice and workout times are </p>   
    </div>
    <div class="span4">
      <h2>Improve Communication</h2>
      <p>Focus on what is important, and let MTE take care of the rest. Allow your coaching staff and players to get on the same page</p>   
    </div>
  </div>

</div> <!-- /container -->
<hr class="container dotted">

<div class="container bottom-container">
  <h2>Ready to get started?</h2>
  <span>3 simple steps to get your program connected.</span>
  <p><a href="/pricing" class="btn btn-success btn-large"><%= "Get Started Now".upcase %></a></p> 
</div>
