<div id="content" class="high-school-options container">            
    <%= render :partial => "account/links" %>
    <%= render :partial => "account/sub_varsity" %>
    <%= render :partial => "account/#{@partial_name}" if defined?(@partial_name) %>
</div>

<script type="text/javascript">
  $(document).on("change", "#sub-varsity-selct-form", function(){
    selectedVarsity = $("#sub-varsity-selct-form").find(":selected").val();

    if(selectedVarsity == "0" || selectedVarsity == undefined){
      return false;
    }else{
      $("#sub-varsity-form").submit();
    }

  });
</script>