<p>
  Hello,
</p>
<p>
  <%= @contact.name %> is trying to reach us out for Mind your pitch. Below is the message that was sent
</p>
<p>
 <i>Email: <%= @contact.email %></i>
</p>
<p>
  Subject <%= @contact.subject %>
</p>
<p>
	Message: <br/>
	<%= @contact.message %>
</p>
<p>
  Thank you,<br/>
  Mind Your Pitch Team
</p>