<div id="content" class="container">
  <form class="add-account">
    <div class="modal-head">
      <h2 class="form-signin-heading">Create Account</h2>
    </div>
    <div class="modal-body">
      <select class="input-large">
        <option>Select Account</option>
        <option>2</option>
        <option>3</option>
        <option>Lev4el</option>
      </select>
    </div>
  </form>
</div>

