<p>Hello experts</p>

<p>A new pitch creation request has come in. Below are the details.</p>
<p><strong>Category:</strong><%= @pitch_request.category.title %></p>
<p><strong>URL:</strong><%= @pitch_request.url %></p>
<p><strong>Email:</strong><%= @pitch_request.email %></p>
<p><strong>Details:</strong><br/><br/>
<%= @pitch_request.details %>
</p>

<p>Thank you</p>
<p>Mind Your Pitch Team</p>