<div class="media academics-select">
  <div class="media-body">
    <select name="" id="course-select" class="input-large">
      <%= render partial: 'courses/select/academics_select_option' %>
    </select>
  </div>
</div>