<div class="description">
    <p>You have less than one minute to answer "What you do?". Your audience knows nothing about your business, you passion or your goals. Are you prepared? Can you present it in the most compelling way to want them to know more?
	<br/><br/>Take the first step today. <%= link_to 'Get started!', (user_signed_in? ? edit_pitch_path : new_user_registration_path) %>
	</p>
</div>