<div class="elevator-pitch-container">
  <%= render :partial => "home/quotes" %>
  <div class="pitch-advantage">
    <h3 class="title">In 1 minute you can:</h3>
    <ul>
      <li>Deliver a killer <em>Shark tank pitch</em></li>
      <li>Create right <em>business messaging</em></li>
      <li>Communicate your <em>vision statement</em></li>
      <li>Construct a mind glueing <em>cover letter</em></li>
      <li>Be <em>Clear</em>, <em>Concise</em> and <em>Compelling</em></li>
      <li class="last">and more...</li>
    </ul>
  </div>
  
  
</div>