<% content_for :page_header do %>
<title>Do you need an elevator pitch? | Mind Your Pitch</title>
  <meta name="Description" content="Goal of an elevator pitch is to generate curiosity, not to sell or generate leads. It should communicate your vision statement in the right spirit and entice the listener to want to know more." />
  <meta name="keywords" content="Pitch builder, Pitching the perfect pitch, Simon Sinek" />
<% end %>
<div class="whyPitch">
  <h3 class="why-pitch-heading"> Why Pitch </h3>
  <p>You certainly understand the immediate advantage of having a pitch ready for sales reasons. However working on your pitch is much more than just driving sales.</p>
  <br/>

  <ol>
    <li><span class="why-pitch-sub-headers">LESS IS MORE</span>
      <br/>
      <p>
        <em>“A quote is always well understood than a novel!”</em>
        <br/><br/>
        Since you only have a few words, you are guaranteed to have full attention of your audience for that span. 
        Carefully crafted pitch can make:
        <ul>
          <li>a good first impression</li>
          <li>saves time for your audience and hence quickens the decision making process.</li>
        </ul>
      </p>
    </li>

    <br/>

    <li><span class="why-pitch-sub-headers">COMMUNICATE THE WHY</span>
      <br/>
      <p>
        <em>“The goal of any business is to make money. Wrong!”</em>
        <br/><br/>
        The time has changed and you need a much more conscious reason for your existence in order to reach the peak. 
        <ul>
          <li>The more you work on bettering your pitch, the more you come closer to realize your purpose.</li>
          <li>The more you learn about your purpose, better you become on your messaging.</li>
          <li>The better you become on your messaging, more you convert and grow.</li>
        </ul>
        <br/>
        Simon sinek rightly puts it <em>“People buy WHY you do and not the WHAT you do”</em>. 
        Watch this video NOW if you haven’t already seen it. 
      </p>
      <br/><br/>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/qp0HIF3SfI4" frameborder="0" allowfullscreen></iframe></iframe>
    </li>

    <br/>

    <li><span class="why-pitch-sub-headers">KNOW THY BUSINESS BETTER</span>
      <br/>
      <p>
        <em>“Know your purpose!”</em>
        <br/><br/>
        Most businesses do not start with a vision, however ideal it is. You start a business and as time goes, things become clearer. 
        When you work on your pitch, you ask yourself constantly, why do I exist? 
        Answering that question itself helps you understand your purpose better. 
    </li>

    <br/>

    <li><span class="why-pitch-sub-headers">BE READY</span>
      <br/>
      <p>
        <em>“Be Prepared!”</em>
        <br/><br/>
        When the time comes and you happen to be in the right place, you want to be fully prepared to meet your big opportunity. 
        Preparing your pitch is the first step towards being prepared.
        So get started immediately.
      </p>
    </li>
  </ol>

  <div class="why-pitch-create-pitch-button">
    <%= link_to "Create your pitch", new_user_registration_path, :class => "signup-button" %>
  </div>
</div>
