<h1 id="active_name_display"><%= current_user.active_name_for_organization(current_sport.id, current_user_sport.subvarsity_id).try(:name) %></h1>
<ul class="nav pull-right rhs-dropdown">                                         
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-down pull-right"></i>
        </a>
        <ul class="dropdown-menu" id="psudeo_names_list">
            <li><a href="#"><%= current_user.active_name_for_organization(current_sport.id, current_user_sport.subvarsity_id).try(:name) %></a></li>
            <li class="divider"></li>
            <% current_user.organization_psudeo_names_for_sport(current_sport, current_user_sport.subvarsity_id).each do |psudeo_name| %>
                <% next if psudeo_name.active? %>
                <li><a href="#" class="psudeo_name_list"><%= psudeo_name.name %></a></li>
            <% end %>
            <li><a href="#" class="btn-link" id="create_new_psudeo_name">Create new</a></li>
        </ul>
    </li>
</ul> 