<span id="more-info-errors"></span>

<div class="tab-pane" id="info">                           
  <div id="contact-info">
    <%= render partial: 'contacts/right_block/more_info/more_info_contact_info' %>
  </div>
  <div id="home-address">
    <%= render partial: 'contacts/right_block/more_info/more_info_home_address' %>
  </div>
  <div id="school-address">
    <%= render partial: 'contacts/right_block/more_info/more_info_school_address' %>
  </div>
</div>
