<footer id="footer">
  <nav>
    <ul class="nav container">
      <li><a class="btn btn-link" href="/about">About</a></li>
      <li><a class="btn btn-link" href="/faq">FAQ's</a></li>
      <li><a class="btn btn-link" href="#legal">Legal</a></li>
      <li><a class="btn btn-link" href="#">@MyTeams Edge</a></li>
    </ul>
  </nav>
  <p>&copy; 2012 Brennan Inc.</p>
</footer>
