<h1> Change Email Confirmation !!! </h1>
<br /><br />
<%= link_to("Click here to update your email", update_email_welcome_index_url(id: @user.id, identifier: @user.identifier )) %> <br />
If the button doesn’t work, copy & paste this link into your browser:<br />

<%= update_email_welcome_index_url(id: @user.id, identifier: @user.identifier ) %> <br />

Stay Hungry, MyTeamsEdge

