<h1> New Sport Created !!! </h1>
<br /><br />
<%= link_to("Login", login_with_sport_welcome_index_url(identifier: @user.identifier)) %> <br />
If the button doesn’t work, copy & paste this link into your browser:<br />

<%= login_with_sport_welcome_index_url(identifier: @user.identifier) %> <br />

Stay Hungry, MyTeamsEdge
