<p>
  You have requested to change your email for MyTeamsEdge Account.
  Please click on following link to activate your new email : 
  <%= confirm_new_email_url( :identifier => @user.create_unique_token ) %> 
</p>




