<div class="container">
    <div class="content-page">
        <h1 class="form-signin-heading">About Us</h1>
        <h2>Mission</h2>
        <p>
            Our mission is to allow coaches and athletes at all levels of competition to easily access and manage important team content. 
            Making athletic programs more productive and efficient on the court or field, as well as in the classroom. (more detail)
        </p>
        <h2>About</h2>
        <p>
            We are (small group?) former DI athletes who have experience with the demands placed upon college and high school athletics. 
            We are focused on providing a platform to connect coaches, players, and advisors with their important team information.
        </p>
    </div>

 </div> <!-- /container -->