
<h1>Frequently Asked Questions</h1>
<div class="container price faq">
    <div class="faq-align-text">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <span>What payment types do you accept?</span>
    <p>
        Currently, we accept PayPal, Google Checkout, Visa, MasterCard, American Express, and Discover. 
        If you would like to pay with a check or money order, 
        just send us an email and we will be in touch as soon as possible.
    </p>
    <span>How do I add or remove users?</span>
    <p>
        Adding or removing users from your account takes only seconds. Simply go to the Personnel page within your account, where you have the option to add or delete additional coaches, players, or auxiliary users.
    </p>
    <span>Can we join the University or High School Edge later? (( only for elite/b ball/football))</span>
    <p>
        You bet. If more teams at your program would like to sign up, just send us an email and we can create new accounts for each team that would like to join.
    </p>
    <span>How can we set up up each team with their own account? ((only for HS and University)) </span>
    <p>
        During the account creation process, each sport will get selected and an Account Manager will be added to the account. Once the Account has been created, each Account Manager will receive a confirmation email with instructions on how to set up their team. 
    </p>               

    <span>More questions...</span>
    <div>
</div> <!-- /container -->

