<div class="container price">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <h1>MyTeamsEdge Packages</h1>

    <!-- Example row of columns -->
    <div class="row-fluid">
        <div>
        <div class="span4 block-1">
            <h2>ELITE EDGE</h2>
            <div class="">
                <span class="currency">&dollar;</span><span class="price">995</span><span class="year">/year</span>
                <hr>
            <p>
                Perfect for any sport at any level of competition.
                Easily set up accounts for coaches, players, and advisors to stay connected and on the same page
            </p>
            </div>
            <a class="btn btn-success" type="submit" href="<%= new_payers_path(package: 'elite_edge') %>">SIGN UP</a>
        </div>
        <div class="span4 block-2">
            <h2>FOOTBALL EDGE</h2>
            <div class="">
                <span class="currency">&dollar;</span><span class="price">1,495</span><span class="year">/year</span>
                <hr>
                <p>
                    Designed specifically for football programs at all levels of competition. Set up your entire program in minutes.
                </p>
            </div>
            <a class="btn btn-success" type="submit" href="<%= new_payers_path(package: 'football_edge') %>">SIGN UP</a>
        </div>
        <div class="span4 block-3">
            <h2>HIGH SCHOOL EDGE</h2>
            <div class="">
                <span class="currency">&dollar;</span><span class="price">2,495</span><span class="year">/year</span>
                <hr>
                <p>
                    The ideal solution for high school programs, this option allows each team to have their own personal account. Varsity, JV, or Freshman, all team can have their own private secure network.
                </p>
            </div>
            <a class="btn btn-success" type="submit" href="<%= new_payers_path(package: 'highschool_edge') %>">SIGN UP</a>
        </div>
    </div>
    </div>

</div> <!-- /container -->
<hr class="container dotted">

<div class="container price">
    <h2>FAQ's</h2>
    <span>What payment types do you accept?</span>
    <p>
        Currently, we accept PayPal, Google Checkout, Visa, MasterCard, American Express, and Discover. 
        If you would like to pay with a check or money order, 
        just send us an email and we will be in touch as soon as possible.
    </p>
    <span>How do I add or remove users?</span>
    <p>
        Adding or removing users from your account takes only seconds. Simply go to the Personnel page within your account, where you have the option to add or delete additional coaches, players, or auxiliary users.
    </p>
    <span>Can we add more sports to the High School Edge later?</span>
    <p>
        You bet. If more teams at your program would like to sign up, the Account Manager can easily create additional sports. Account Managers also have the ability to create JV, Freshman or any other sub level of competition for each sport.
    </p>
    <span>What levels of competition do you support?</span>
    <p>
        We can work with any sport at any level of competition. Teams that want to have easy access to their important content and improve communication between the coaches and players, MyTeamsEdge is for them.
    </p>
</div>
