<h1>Explore MyTeamsEdge</h1>
<div class="container price tours">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="">
    </a>
    <div class="media-body">
      <h3>Your Content & Personnel, All in One Place</h3>
      <p>
        MyTeamsEdge is a cloud based service, focused on 
        providing 
        coaches and athletes a solution to better organize, 
        manage, and access important team content. 
        Connecting each user to relevant information they 
        need to be successful.
      </p>
    </div>
  </div>
  <hr class="container dotted solid-underline">
  <div class="media">
    <a class="pull-right" href="#">
      <img class="media-object" src="">
    </a>
    <div class="media-body">
      <h3>Save Time and Energy</h3>
      <p>
        Stay on top of player calendars, update and collaborate 
        with scouting reports, organizing recruiting info, 
        whatever your current responsibilities are, 
        MyTeamsEdge can help save you time and energy.
      </p>
    </div>
  </div>
  <hr class="container dotted solid-underline">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="">
    </a>
    <div class="media-body">
      <h3>Easy to Use</h3>
      <p>
        Our simple and clean user interface makes it easy 
        for users to stay on top of scouting reports, 
        game video, calendars, academic information and 
        much more.
      </p>
    </div>
  </div>
  <hr class="container dotted solid-underline">
  <div class="media">
    <a class="pull-right" href="#">
      <img class="media-object" src="">
    </a>
    <div class="media-body">
      <h3>Collaborate / Real Time</h3>
      <p>
        Coaches and players have the ability to share 
        information in a way that gets every group 
        on the same page. (wording...) No more excuses, 
        each user has access to real time information, 
        everything from scouting reports, academics, 
        and much more.
      </p>
    </div>
  </div>
  <hr class="container dotted solid-underline">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="">
    </a>
    <div class="media-body">
      <h3>Security and Privacy</h3>
      <p>
        Users have access to detailed information. More text explaining what 
        this is supposed to do.
      </p>
    </div>
  </div>
  <hr class="container dotted solid-underline">
</div> <!-- /container -->

