<h4 class="add-comment-callout">Add comment</h4>
<%= form_for(:comment, :url => pitch_comments_path(@pitch.identifier, :format => :json), :html => {:id => "new-comment-form"}) do |f| %>
  <%= f.text_area(:comment, :cols => "35", :rows => "2", :class => "comment-text-area", :placeholder => "Make a good suggestion or simply share your opinion.") %>
  <%= f.submit "Post Comment", :class => "btn btn-primary post-comment-button" %>
<% end %>
