<!-- Add Course Modal  --> 
<div id="add-course" class="modal hide fade custom-modal modal_update_post" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="modal-head">
      <h2>Add Course</h2>
    </div>
    <div id="add-course-modal-contents" class="modal-body">
      <%= render partial: "courses/add_course/add_course_form" %> 
    </div>  
  </div> <!-- /container -->
</div> 
<!-- Add Course Modal ENDS --> 