<!-- Add Document Modal Starts -->
<div id="add-document" class="modal hide fade custom-modal modal_update_post" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 325px !important">
  <div class="container">
    <div class="modal-head document-modal-head">
      <h2>Add document</h2>
    </div>
    <div id="course-document" class="modal-body document-modal-body">
      <%= render partial: 'courses/documents/document_form' %>
    </div>  
  </div> <!-- /container -->
</div> 
<!-- Add Document Modal Ends -->