.add-user-margin{ margin-bottom:40px; }
.h-sch-sign-up a.link.same-person-link{color:black; text-decoration:none}
.green-spinner { text-align:center; }
.margin-bottom-20 { margin-bottom:20px; }

.thanks-center-aligned{ text-align:center; padding-left:124px;}
