<%= render :partial => 'contacts/right_block/shared/contacts_right_block_user_navigation' %>
<!--<form class="form-login" name="login_frm">-->
  <div class="tab-content">
    <span id="form-notification"></span>
    <div id="form-details"></div>
  </div>
<!--</form>-->

