<h2><%= @user.full_name %></h2>                
<hr>                
<div class="container">
  <%= image_tag @user.image.url(:medium), class:"pull-left media-object" %> 
  <a href="#" id="post-message-trigger" class="btn pull-left follow">Post Message</a>
  <a href="#" class="btn pull-left follow">View Calendar</a>
</div>
<hr>