<div>
  <label for="user_email">Email*</label>
  <%= f.email_field :email, :class => "login-text-field" %>
</div>
<div>
  <label for="user_password">Password*</label>
  <%= f.password_field :password, :class => "login-text-field" %>
</div>
