<div id="add-to-unit" class="new-unit add-to-unit-2 modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="modal-body">
      <div id='loading'>
        Loading...
      </div>
      <div id="add-user-to-unit">
      </div>
    </div>  
  </div>
</div>
