<p>
  <%= @new_user.full_name if @new_user %> received a confirmation email.  
  Your Activity Stream will show when <%= @new_user.full_name if @new_user %> activates their account 
</p>
<div class="modal-body">
  <input type="submit" value="Close" class="cancel btn btn-info cancel-trigger">
</div>  
