<!-- Add Entity MODAL STARTS -->
<div id="add-entity" class="add-member modal hide fade modal_update_post" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container" id="add-entity-container">
  </div> <!-- /container -->
</div>

<!-- Add User MODAL ENDS -->
