<!-- Add User MODAL STARTS -->
<div id="send-email" class="add-member modal hide fade modal_update_post" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container" id="send-email-content">
    <%= render :partial => "lightbox_send_email_user_info"  %> 
  </div> <!-- /container -->
</div>
<!-- Add User MODAL ENDS -->
