<!-- Resend Invite MODAL STARTS -->
<div id="resend-invite" class="add-member modal hide fade modal_update_post" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
  <div class="container" id="userDetails">
  </div> <!-- /container -->
</div>
<!-- Add User MODAL ENDS -->

