<!-- MODAL STARTS -->
<div id="postNewNote" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="modal-head">
      <h2>Add Note</h2>
    </div>
    <div class="modal-body">
      <form>
        <p>Belize university is scheduled multiple times, select where you want the note to appear.</p>
        <hr>
        <ul class="postList customCheckbox">
          <li class="clearfix">
            <input type="checkbox" id="first">
            <label for="first">September 5, at 5:00 pm</label>
          </li>
          <li class="clearfix">
            <input type="checkbox" id="second">
            <label for="second">October 25, at 7:00 pm</label>
          </li>
          <li class="clearfix">
            <input type="checkbox" id="third">
            <label for="third">Novemver 12, at 7:00 pm</label>
          </li>
        </ul>
        <hr>
        <div class="modalActions fRight clearfix">
          <input type="submit" class="btn btn-info pull-right modalActionBtn" value="Post">
          <a href="#" class="cancel">Cancel</a>
        </div><!--modalActions-->
      </form>
    </div>  
  </div> <!-- /container -->
</div><!--#newComponentAdded-->