<div id="addNewNote" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="modal-head">
      <h2>Add Note</h2>
    </div>
    <div class="modal-body">
      <form>
        <div class="scheduleInput">
          <input type="text" value="Share With">
          <input type="text" value="Select Category">
          <textarea>Add some info...</textarea>
        </div><!--scheduleInput-->
        <div class="modalActions fRight clearfix">
          <input type="submit" class="btn btn-info pull-right modalActionBtn" value="Post">
          <a href="#" class="cancel">Cancel</a>
        </div><!--modalActions-->
      </form>
    </div>  
  </div> <!-- /container -->
</div><!--#newComponentAdded-->