<div class="content-block settingsBox" id="notes-category-container-<%= notes_category.id %>" category="<%= notes_category.id %>" >
  <%= render(:partial => 'schedules/apps/notes/notes_category_details', :locals => {:notes_category => notes_category} ) %>
</div>